.main{
    padding:0;
    background-color:gray;
    text-align: center;
    min-height:100vh;
}

.nuv, .menu, .about{
    background-color: black;
    color: white;
}

h2{
    padding: 10px;
}

.menu, .stats{
    min-height: 60vh;
}

.stats{
    background-color: black;
    color: white;
}

ul{
    list-style: none;
}

.card{
    color: black;
}

.items{
    margin-left: auto; 
margin-right: 0;
}

.fastfood, .menu, .about{
    padding: 2rem;
}